.app_container {
  width: max-content;
  margin: 2em auto;
  border: solid 4px black;
  padding: 2em;
}

.grid_container {
  position: relative;
  display: grid;
}

.col-Beginner {
  grid-template-columns: repeat(9, 25px);
  grid-template-rows: repeat(9, 25px);
}

.col-Intermediate {
  grid-template-columns: repeat(16, 25px);
  grid-template-rows: repeat(16, 25px);
}

.col-Expert {
  grid-template-columns: repeat(30, 25px);
  grid-template-rows: repeat(16, 25px);
}

.btnContainer {
  width: 30px;
}

.button {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid black;
}

.button p {
  margin-top: 0.05em;
  margin-right: 0.3em;
}

.hide_btn {
  background-color: darkgray;
  color: black;
}

.show_btn {
  background-color: gray;
  color: blue;
}

.counter_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}

.mine_counter, .timer {
  width: 50px;
  background-color: black;
  color: red;
  text-align: center;
  padding: 0.5em;
}
