:root {
  --square-size: 25px;
  --square-size-small: 20px;
  --counter-padding: 1em;
}

* {
  box-sizing: border-box;
}

.page_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_header h1 {
  margin: 1em 0.5em 0;
  border-bottom: solid 2px black;
}

.page_header img {
  max-width: 64px;
  margin-top: 2em;
}

.app_container {
  position: relative;
  cursor: default;
  width: max-content;
  margin: 2em auto;
  border: solid 4px black;
  background-color: lightgray;
}

.controls {
  height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EA7C00;
  margin-bottom: 1em;
  box-shadow: 0px 1px 4px 1px black;
}

.controls button {
  font-weight: bold;
  color: black;
  background-color: #EA7C00;
  border: none;
  font-size: 1.05rem;
}

.new_game_container {
  position: relative;
}

ul {
  position: absolute;
  top: 1.5em;
  left: -1.5em;
  list-style-type: none;
  background-color: #EA7C00;
  padding: 0.5em 1.5em;
  border: solid 2px black;
  border-top: none;
  box-shadow: 1px 2px 4px 1px black;
  z-index: 1;
}

ul li {
  font-weight: bold;
}

ul li:not(:last-child) {
  margin-bottom: 1em;
}

ul li:hover {
  list-style-type: disc;
}

ul li:hover button {
  text-decoration: underline;
}

.help_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #EA7C00;
}

.help_menu {
  position: relative;
  padding: 0.5em;
}

button.close_help {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.5em;
  right: 1em;
  z-index: 2;
  padding: 0.2em 0.3em;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 0px black;
  border-radius: 15px;
  background-color: lightgray;
}

.close_help span {
  color: black;
  font-size: 1rem;
}

.close_help:hover span {
  color: red;
}

.help_menu h1, .help_menu h2 {
  font-size: 1rem;
}

.help_menu p {
  font-size: 0.9rem;
  margin-bottom: 0.5em;
}

.grid_container {
  position: relative;
  display: grid;
  margin: 0 2em;
  border: 1px solid black;
}

.col-Beginner {
  grid-template-columns: repeat(9, var(--square-size));
  grid-template-rows: repeat(9, var(--square-size));
}

.col-Intermediate {
  grid-template-columns: repeat(16, var(--square-size));
  grid-template-rows: repeat(16, var(--square-size));
}

.col-Expert {
  grid-template-columns: repeat(30, var(--square-size));
  grid-template-rows: repeat(16, var(--square-size));
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid black;
}

.button img {
  width: 100%;
  padding: 0.1em;
  font-weight: bold;
}

.button p {
  font-weight: bold;
}

.hide_btn {
  width: 100%;
  background-color: darkgray;
  color: #FF1300;
}

.show_btn {
  background-color: gray;
  color: #0008FF;
}

.counter_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: var(--counter-padding) 0;
}

.mine_counter, .timer {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.2rem;
  width: 50px;
  background-color: black;
  color: red;
  text-align: center;
  padding: 0.5em;
}

.module_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.end_game_module {
  position: absolute;
  width: max-content;
  max-width: 100%;
  padding: 1em;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #07229D;
  color: white;
  text-align: center;
  border: solid 2px black;
  border-radius: 3px;
}

.end_game_module p {
  padding: 0.3em 0;
}

.end_game_module div:last-child {
  display: flex;
  justify-content: center;
}

.end_game_module button {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
}

.end_game_module button:first-child {
  margin-right: 5em;
}

@media all and (max-width: 840px) {  
  .col-Expert {
    grid-template-columns: repeat(30, var(--square-size-small));
    grid-template-rows: repeat(16, var(--square-size-small));
  }
}

@media all and (max-width: 530px) {  
  .col-Intermediate {
    grid-template-columns: repeat(16, var(--square-size-small));
    grid-template-rows: repeat(16, var(--square-size-small));
  }
}

@media all and (max-width: 400px) {
  .grid_container {
    margin: 0 1em;
  }
}